:root {
  --hulu-green: #1ce783;
  --light-green: #00ad1d;
  --x-dark-orange: rgb(157, 42, 1);
  --dark-bg: #040405;
  --light-gray: #d3d3d3;
  --white: #ffffff;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: var(--dark-bg);
  color: var(--white);
  font-family: "Quicksand";
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 70px;
  background: var(--dark-bg);
  color: var(--white);
  position: fixed;
  top: 0;
  width: 98%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--dark-bg);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  text-align: center;
}

.logo {
  padding: 10px 0 10px 15px;
  width: 90px;
}

.nav {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
}

.nav li {
  list-style-type: none;
  text-decoration: none;
}

.nav-link {
  list-style-type: none;
  text-decoration: none;
  color: var(--light-gray);
  text-decoration: none;
  padding: 15px;
  cursor: pointer;
  font-family: "Quicksand";
}

.nav-link:hover,
.nav-link.active {
  color: var(--hulu-green);
}
.nav li span {
  color: var(--light-gray);

  font-family: "Quicksand";
}

.search-input {
  position: relative;
  background-color: #0f0f11;
  border: 2px solid transparent;
  padding: 10px 15px;
  outline: none;
  border-radius: 4px;
  color: var(--white);
  font-size: 16px;
  width: 400px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  border-color: var(--hulu-green);
  box-shadow: 0 0 0 2px rgba(28, 231, 131, 0.2);
}

::placeholder {
  color: var(--light-gray);
  font-family: "Quicksand";
  font-size: 18px;
  padding: 10px;
}

.search-icon {
  position: absolute;
  margin-left: -35px;
  top: 38px;
  cursor: pointer;
}

.favorite-cocktail-cards {
  display: grid;
  grid-template-columns: repeat(5, 350px);
  justify-content: center;
  grid-gap: 20px;
  color: var(--light-gray);
}

.cocktail-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.cocktail-search-results {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  margin-top: 100px;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.cocktail-card {
  background-color: #0f0f11;
  border-radius: 8px;
  padding: 20px;
  margin: 35px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  color: var(--light-gray);
  cursor: pointer;
  position: relative;
}

.cocktail-card:hover {
  transform: scale(1.03);
}

.cocktail-image {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  border-radius: 6px;
}

.cocktail-card-link {
  list-style-type: none;
  text-decoration: none;
}

.cocktail-poster {
  width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.add-to-watchlist {
  position: absolute;
  right: 10px;
  top: 2px;
  border: var(--light-gray) solid 1px;
  padding: 2px;

  font-size: 12px;
  cursor: pointer;
}

.add-to-watchlist:hover {
  border: var(--hulu-green) 1px solid;
}

.cocktail-title {
  font-size: 18px;
  margin-top: 25px;
  color: var(--hulu-green);
  margin-bottom: 10px;
  font-weight: 600;
}
.logo {
  padding: 10px 0 10px 15px;
  width: 90px;
}

.btn {
  background-color: var(--hulu-green);
  color: var(--white);
  border: 2px solid red;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Quicksand";
}

button:hover {
  background-color: darken(var(--hulu-green), 10%);
}

.remove-favoritelist {
  width: 100%;
  padding: 10px 0 !important;
  background-color: var(--hulu-green);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Quicksand";
}

.watchlist-empty {
  color: var(--light-gray);
  text-align: center;
  margin-top: 300px;
}

.footer {
  background-color: var(--dark-bg);
  color: var(--light-gray);
  padding: 20px;
  text-align: center;
}

.footer a {
  color: var(--hulu-green);
  margin: 0 10px;
}
.cocktail-detail {
  display: flex;
  flex-direction: row;
  gap: 40px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.cocktail-img {
  flex: 0 0 350px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.cocktail-text {
  flex: 1;
  min-width: 300px;
}

.cocktail-info-list,
.ingredient {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.cocktail-info-list li,
.ingredient li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 6px;
  padding: 10px;
}

.cocktail-info-list li img,
.ingredient li img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
  margin-right: 15px;
}
.login-btn-green {
  color: var(--light-green);
}

.login-btn-red {
  color: var(--x-dark-orange);
}
.about-container-main {
  min-height: 87vh;
}

.about-profile-button:hover {
  background-color: var(--dark-orange);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 25px 10px;
  justify-content: space-evenly;
  align-items: center;
}

.about-container .about-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow-y: hidden;
}

.about-container .about-left h1 {
  font-size: 70px;
  color: var(--light-text-color);
}

.about-container .about-left h1 span {
  background-color: var(--orange);
  padding: 0 10px;
  border-radius: 15px;
  color: var(--light-white-text);
}

.about-container .about-left h4 {
  font-size: 25px;
  margin-top: 10px;
  font-style: italic;
  color: var(--light-text-color);
}

.about-container .about-left h4 span {
  color: var(--dark-orange);
}

.about-container .about-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.about-container .about-right img {
  width: 500px;
}
.about-profile-button {
  background-color: var(--hulu-green);
  color: var(--white);
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
}

.about-profile-button:hover {
  background-color: var(--dark-orange);
}
.about-profile-container {
  display: flex;
  justify-content: center;
  margin-top: 150px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px auto 20px;
  overflow-y: hidden;
  height: 76vh;
}

.contact-container .contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-left img {
  width: 300px;
}

.contact-container .contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.contact-container .contact-right h1 {
  color: var(--light-text-title);
}

.contact-container .contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container .contact-right form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--dark-orange);
  min-width: 40vw;
}

.contact-container .contact-right form textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--dark-orange);
  min-width: 40vw;
}

.contact-container .contact-right form input:focus,
.contact-container .contact-right form textarea:focus {
  outline: 1px outset var(--orange);
}

.contact-container .contact-right form button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--hulu-green);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.contact-container .contact-right form button:hover {
  background-color: var(--hulu-green);
}
.nav li span.login-status-dot {
  font-size: 1.5rem;
  margin-right: 8px;
  display: inline-block;
}

.login-btn-green {
  color: var(--light-green) !important;
}

.login-btn-red {
  color: var(--x-dark-orange) !important;
}
.user-offline-container {
  text-align: center;
  padding: 20px;
}

.user-offline-heading {
  color: #333333;
  margin-top: 100px;
}

.offline-image {
  width: 200px;
  height: auto;
  margin-top: 20px;
}

.user-offline-message {
  color: #505050;
  font-size: 18px;
  margin: 20px 0px;
}
@media (max-width: 768px) {
  .cocktail-detail {
    flex-direction: column;
    align-items: center;
  }

  .cocktail-img {
    margin: 0 auto;
  }

  .cocktail-text {
    width: 100%;
  }

  .search-input,
  nav .nav-link {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    white-space: nowrap;
  }

  .nav-link {
    max-width: 300px !important;
    margin-right: 10px;
    padding: 0 !important;
  }

  .header {
    flex-direction: column;
    text-align: center;
  }

  .nav {
    margin-left: -50px;
  }

  .cocktail-image {
    height: auto;
  }
  .cocktail-image {
    width: 100%;
    height: auto;
  }

  body {
    font-size: 14px;
  }

  .cocktail-title {
    font-size: 16px;
  }

  .Toastify__toast-container .Toastify__toast {
    min-height: 48px;
    padding: 2px 8px;
    max-width: 200px;
  }

  .search-input {
    margin-top: 10px;
    width: 300px;
  }

  .search-icon {
    top: 100px;
    margin-left: -40px;
  }

  .cocktail-cards {
    display: flex;
    flex-direction: column;
    margin: auto;

    width: 95%;
  }
}

/* CSS for mobile devices */

@media only screen and (max-width: 1150px) {
  .about-container .about-left h1 {
    font-size: 50px;
  }

  .about-container .about-left h4 {
    font-size: 20px;
  }

  .about-container .about-right img {
    width: 380px;
  }
}

@media only screen and (max-width: 950px) {
  .about-container .about-left h1 {
    font-size: 45px;
  }

  .about-container .about-left h4 {
    font-size: 18px;
  }

  .about-container .about-right img {
    width: 330px;
  }
  @media only screen and (max-width: 880px) {
    .search-container .search-input {
      width: 25rem;
    }

    .about-container .about-left {
      margin-bottom: 20px;
    }

    .error-page img {
      height: auto;
      width: 80%;
    }
  }
}
