* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Calibri, sans-serif;
  overflow-x: hidden;
}
:root {
  --header-bg-color: rgb(255, 255, 255);
  --footer-bg-color: rgb(255, 255, 255);
  --body-bg-color: linear-gradient(to right, #ff7e5f, #feb47b);
  --input-bg: #f2f2f2;
  --input-bg-focus: #dbdbdb;
  --text-color: #000;
  --light-text-color: #545454;
  --light-text-title: #353535;
  --light-green: #00ad1d;
  --dark-green: #016034;
  --orange: #d97919;
  --light-orange: #ffaf60;
  --dark-orange: #c26100;
  --x-dark-orange: rgb(157, 42, 1);
  --light-red: rgb(236, 56, 56);
  --white: #fff;
  --light-white-text: #eaeaea;
  --light-black: rgb(23, 23, 23);
  --light-blue: #0463ac;
  --dark-blue: #070062;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 80px;
  background-color: var(--header-bg-color);
  border-radius: 5px;
  box-shadow: -2px 7px 5px -6px rgba(0, 0, 0, 0.61);
  color: var(--light-text-color);
  font-weight: bold;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  overflow-y: hidden;
}

.logo {
  padding: 10px 0 10px 15px;
  width: 90px;
}
.nav-items > ul {
  list-style-type: none;
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: space-between;
}

.nav-items > ul > li {
  padding: 10px;
}
.search-form {
  background-color: var(--primary-color);
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 20px;
  margin: auto;
  gap: 10px;
  border-radius: 6px;
  box-shadow: 2px 5px 0 rgba(0, 0, 0, 0.3);
  width: 100%;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
}

.search-form input {
  padding: 10px;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.search-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.search-button:hover {
  background: var(--color-secondary);
  color: #000;
}

.search-button:disabled {
  border-color: #ccc;
  cursor: not-allowed;
}

.search-button:disabled:hover {
  background: transparent;
  color: #fff;
}

h2 {
  text-align: center;
}
/* Card */
.card {
  width: 240px;
  border-radius: 5px;
  box-shadow: -1px 5px 10px 5px rgba(112, 112, 112, 0.2);
  padding: 10px;
  margin: 20px;
  cursor: pointer;
}

.card img {
  width: 100%;
}

.card-body {
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #0a4b8f;
}

.hide {
  display: none !important;
}
.container {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: 80px;
}
.about-container-main {
  min-height: 87vh;
}

.about-profile-button:hover {
  background-color: var(--dark-orange);
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 25px 10px;
  justify-content: space-evenly;
  align-items: center;
}

.about-container .about-left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  overflow-y: hidden;
}

.about-container .about-left h1 {
  font-size: 70px;
  color: var(--light-text-color);
}

.about-container .about-left h1 span {
  background-color: var(--orange);
  padding: 0 10px;
  border-radius: 15px;
  color: var(--light-white-text);
}

.about-container .about-left h4 {
  font-size: 25px;
  margin-top: 10px;
  font-style: italic;
  color: var(--light-text-color);
}

.about-container .about-left h4 span {
  color: var(--dark-orange);
}

.about-container .about-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.about-container .about-right img {
  width: 500px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 60px auto 20px;
  overflow-y: hidden;
  height: 76vh;
}

.contact-container .contact-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-container .contact-left img {
  width: 300px;
}

.contact-container .contact-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: x-large;
}

.contact-container .contact-right h1 {
  color: var(--light-text-title);
}

.contact-container .contact-right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-container .contact-right form input {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--dark-orange);
  min-width: 40vw;
}

.contact-container .contact-right form textarea {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid var(--dark-orange);
  min-width: 40vw;
}

.contact-container .contact-right form input:focus,
.contact-container .contact-right form textarea:focus {
  outline: 1px outset var(--orange);
}

.contact-container .contact-right form button {
  padding: 10px 20px;
  margin: 10px;
  background-color: var(--dark-orange);
  box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.08);
  color: #ffffff;
  font-size: large;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.contact-container .contact-right form button:hover {
  background-color: var(--orange);
}
.cocktail-section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.drink-info {
  padding: 0 20px;
}

.drink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0 30px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
  margin-bottom: 0;
  bottom: 0;
  margin-top: auto;
}
